<!DOCTYPE html>
<html>
  <head>
    <title>Onion Jet Video</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="site-content">
        <%= link_to 'Onion Jet Video', '/', class: 'site-name' %>
      </div>
      <div class="about-content">
        <%= link_to 'What\'s OJV', about_path, class: 'about-link' %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="copylight">&copy; 2020 OJ Project</div>
    </footer>
  </body>
</html>
